html {
  font-size: 62.5%; }

body {
  background-color: #f9f8f6; }

header {
  text-align: center; }
  header .title_logo {
    padding-top: 40px; }
  header #pc_navi {
    display: none; }
  @media (min-width: 550px) {
    header #sp_navi {
      display: none; }
    header .title_logo_sp {
      display: none; }
    header .headflex {
      display: flex;
      align-items: flex-end;
      justify-content: space-between; }
    header #header_top .container:after, header .row:after, header .u-cf {
      content: "";
      display: none; }
    header .title_logo {
      text-align: left;
      margin-bottom: 0; }
    header .pc_navi {
      display: block;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      margin-bottom: 20px; }
      header .pc_navi .navi_facebook {
        display: block; }
      header .pc_navi .navi_insta {
        display: block;
        margin-left: 10px; }
      header .pc_navi ul {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0;
        text-align: center; }
      header .pc_navi li {
        list-style: none;
        background: transparent;
        border-bottom: transparent;
        padding: 0;
        margin-bottom: 0; }
        header .pc_navi li a {
          margin-left: 25px; } }
  @media (max-width: 550px) {
    header .title_logo {
      display: none; }
    header .title_logo_sp {
      text-align: center;
      margin-top: 20px; }
    header .pc_navi {
      display: none; }
    header .sp_navi ul li {
      list-style: none;
      display: inline-block;
      padding-right: 3px;
      margin-bottom: 0; }
    header .sp_navi img {
      max-width: 80%;
      height: auto; }
    header .sp_navi_list {
      width: 100%;
      position: absolute;
      border: 1px solid #fff;
      background-color: #ff6d77;
      margin: 0;
      padding: 0;
      display: none;
      z-index: 100; }
      header .sp_navi_list li {
        list-style: none;
        text-align: left;
        margin: 0;
        padding: 0; }
      header .sp_navi_list a {
        display: block;
        padding: 15px 7px;
        border-bottom: 1px solid #fff;
        color: #fff;
        font-size: 15px;
        text-decoration: none;
        margin-right: 17px;
        margin-left: 17px; } }

#contents .carousel .owl-theme .owl-dots {
  text-align: left;
  margin-top: 0; }
#contents .carousel .owl-theme .owl-dots .owl-dot span {
  width: 25px;
  height: 2px;
  margin-left: 0;
  margin-right: 10px;
  display: block;
  transition: opacity .2s ease; }
#contents .carousel .owl-theme .owl-dots .owl-dot.active span {
  background: #9d1a2d; }
@media (min-width: 550px) {
  #contents .sp_header {
    display: none; }
  #contents .item_list .item_box {
    margin-bottom: 30px; }
  #contents .item_list .listpage {
    margin-bottom: 0; }
  #contents .item_list .item {
    background: #fff;
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 3px;
    padding: 15px;
    width: calc(100% / 3 - 4px);
    box-sizing: border-box; }
    #contents .item_list .item p {
      font-size: 13px;
      margin-top: 5px;
      margin-bottom: 15px;
      color: #000; } }
@media (max-width: 550px) {
  #contents .pc_header {
    display: none; }
  #contents .sp_header {
    text-align: center;
    margin-top: 15px; }
    #contents .sp_header img {
      max-width: 50%;
      height: auto; }
  #contents .sp_recent img, #contents .sp_title img {
    max-width: 38%;
    height: auto; }
  #contents .sp_title {
    margin-top: 5px; }
  #contents .sp_popular {
    margin-top: 25px; }
  #contents .item {
    background: #fff;
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 3px;
    padding: 15px;
    width: calc(100% / 2 - 4px);
    box-sizing: border-box; } }
#contents #shopping_guide {
  width: 99.5%;
  padding: 0; }
  #contents #shopping_guide p {
    margin-bottom: 10px; }
  @media (min-width: 550px) {
    #contents #shopping_guide .delivery_guide, #contents #shopping_guide .payment_guide {
      background-color: #fff;
      width: 49.5%;
      float: left;
      height: 330px;
      padding: 20px;
      margin-top: 15px;
      box-sizing: border-box;
      font-size: 12px;
      font-size: 1.2rem; }
      #contents #shopping_guide .delivery_guide img, #contents #shopping_guide .payment_guide img {
        margin-bottom: 10px; }
      #contents #shopping_guide .delivery_guide h3, #contents #shopping_guide .payment_guide h3 {
        color: #887f69;
        font-weight: bold;
        font-size: 16px;
        font-size: 1.6rem;
        margin-bottom: 15px; }
      #contents #shopping_guide .delivery_guide .guide_list li, #contents #shopping_guide .payment_guide .guide_list li {
        list-style: none;
        margin: 0; }
        #contents #shopping_guide .delivery_guide .guide_list li p, #contents #shopping_guide .payment_guide .guide_list li p {
          margin-bottom: 10px; }
      #contents #shopping_guide .delivery_guide h4, #contents #shopping_guide .payment_guide h4 {
        color: #887f69;
        font-weight: bold;
        font-size: 13px;
        font-size: 1.3rem;
        margin-bottom: 10px; }
    #contents #shopping_guide .payment_guide {
      margin-left: 5px; } }
@media (max-width: 550px) {
  #contents #shopping_guide {
    width: 100%; }
  #contents .delivery_guide, #contents .payment_guide {
    width: calc(100% / - 4px);
    background-color: #fff;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-sizing: border-box; }
    #contents .delivery_guide img, #contents .payment_guide img {
      margin-bottom: 10px; }
    #contents .delivery_guide h3, #contents .payment_guide h3 {
      color: #887f69;
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 15px; }
    #contents .delivery_guide .guide_list li, #contents .payment_guide .guide_list li {
      list-style: none;
      margin: 0; }
      #contents .delivery_guide .guide_list li p, #contents .payment_guide .guide_list li p {
        margin-bottom: 10px; }
    #contents .delivery_guide h4, #contents .payment_guide h4 {
      color: #887f69;
      font-weight: bold;
      font-size: 13px;
      font-size: 1.3rem;
      margin-bottom: 10px; }
    #contents .delivery_guide .payment_guide, #contents .payment_guide .payment_guide {
      margin-left: 5px; } }
#contents #sidemenu #search_box {
  background-color: #fff;
  height: 100%;
  margin-bottom: 10px; }
  #contents #sidemenu #search_box .sidemenu_contents {
    padding: 5px 20px 5px 20px; }
    #contents #sidemenu #search_box .sidemenu_contents h3 {
      margin: 0; }
    #contents #sidemenu #search_box .sidemenu_contents #search_form {
      margin-bottom: 0; }
    #contents #sidemenu #search_box .sidemenu_contents #search_form1 {
      background-color: #eeeeee;
      border-radius: 0;
      border: none;
      font-size: 13px;
      font-style: italic;
      width: 100%; }
    #contents #sidemenu #search_box .sidemenu_contents #search_btn {
      border: none;
      background-image: url("../images/top/search_icon.png");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      color: #666;
      position: absolute;
      right: -12px;
      top: 0px; }
  #contents #sidemenu #search_box img {
    padding: 10px 0 10px 0; }
#contents #sidemenu #page_link #pagelink_btn {
  border: none;
  background-image: url("../images/top/next_icon.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: #666;
  position: absolute;
  right: -12px;
  top: 0px; }
#contents #sidemenu #page_link .linkbox {
  display: none;
  margin-bottom: 0; }
  #contents #sidemenu #page_link .linkbox li {
    list-style: none;
    border-bottom: 1.5px solid #f9f8f6;
    font-size: 12px;
    padding-left: 15px;
    color: #d8d5cf;
    line-height: 45px; }
  #contents #sidemenu #page_link .linkbox ul {
    margin-bottom: 0; }
  #contents #sidemenu #page_link .linkbox a {
    color: #000;
    text-decoration: none; }
#contents #sidemenu #about_shop1, #contents #sidemenu #about_shop2 {
  margin-bottom: 10px; }
#contents #sidemenu #categories .categories_btn {
  border: none;
  background-image: url("../images/top/next_icon.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: #666;
  position: absolute;
  right: -12px;
  top: 0px; }
#contents #sidemenu #categories .categories_btn02 {
  border: none;
  background-image: url("../images/top/next_icon_gray.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: #666;
  position: absolute;
  right: -12px;
  top: 0px; }
#contents #sidemenu #categories .categories_btn03 {
  border: none;
  background-image: url("../images/top/next_icon_gray.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: #666;
  position: absolute;
  right: -12px; }
#contents #sidemenu #categories li {
  list-style: none;
  border-bottom: 1.5px solid #f9f8f6;
  font-size: 12px;
  padding-left: 15px;
  color: #d8d5cf;
  line-height: 45px; }
#contents #sidemenu #categories ul {
  margin-bottom: 0;
  display: none; }
#contents #sidemenu #categories a {
  color: #000;
  text-decoration: none; }
#contents #sidemenu .sub02 {
  background-color: #fff;
  margin-bottom: 0; }
  #contents #sidemenu .sub02 .page_heading {
    position: relative;
    font-size: 12px;
    font-weight: bold;
    height: 45px;
    line-height: 45px;
    padding-left: 15px;
    color: #d8d5cf;
    background-color: #887f69;
    margin-bottom: 10px; }
  #contents #sidemenu .sub02 .about_text {
    font-size: 12px; }
  #contents #sidemenu .sub02 .about_img {
    text-align: center;
    margin: 5px 5px 0 5px; }
  #contents #sidemenu .sub02 .about_text {
    padding: 5px;
    margin-bottom: 15px; }
  #contents #sidemenu .sub02 .more_btn {
    padding-bottom: 20px;
    text-align: center;
    margin-bottom: 0; }
@media (max-width: 550px) {
  #contents #about_shopcontents, #contents #about_shopcontents2 {
    width: 100%;
    display: flex;
    flex-direction: row; }
    #contents #about_shopcontents .about_img, #contents #about_shopcontents2 .about_img {
      width: 40%;
      box-sizing: border-box; }
    #contents #about_shopcontents .about_store, #contents #about_shopcontents2 .about_store {
      width: 55%;
      padding: 0 10px;
      box-sizing: border-box; }
      #contents #about_shopcontents .about_store .about_text, #contents #about_shopcontents2 .about_store .about_text {
        margin-bottom: 15px;
        padding: 5px;
        font-size: 15px; }
      #contents #about_shopcontents .about_store .more_btn, #contents #about_shopcontents2 .about_store .more_btn {
        text-align: left;
        width: 100%; }
  #contents #categories_link .categories_btn02 {
    font-size: 15px;
    border: none;
    background-image: url("../images/top/next_icon_gray.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: #666;
    position: absolute;
    right: -12px;
    top: 0px; }
  #contents .linkbox a {
    font-size: 15px; }
  #contents .categories_list a {
    font-size: 15px; } }

.item_box {
  display: flex;
  flex-wrap: wrap; }
  .item_box .item {
    width: 33%; }

footer #page_top {
  text-align: right;
  padding-top: 55px; }
footer .footer_contents {
  border-top: 1px solid #897f6c;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 100px;
  font-size: 12px;
  font-size: 1.2rem;
  text-align: center; }
  footer .footer_contents ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 10px; }
    footer .footer_contents ul li {
      list-style: none;
      margin-right: 20px; }
      footer .footer_contents ul li a {
        text-decoration: none;
        color: #000; }
footer small {
  color: #b0b0b0; }
@media (max-width: 550px) {
  footer #page_top {
    text-align: center;
    width: 100%;
    padding-top: 30px; }
  footer .footer_contents {
    text-align: center;
    font-size: 15px; } }

.bread_list {
  background: #e8e4da; }
  .bread_list ul {
    margin-bottom: 0;
    padding: 10px; }
  .bread_list li {
    list-style: none;
    display: inline;
    font-size: 12px;
    margin-right: 5px; }
    .bread_list li a {
      color: #887f69;
      text-decoration: none; }

.categorie_img {
  margin-top: 10px;
  margin-bottom: 5px; }
  .categorie_img img {
    width: 100%; }

.back_btn, .next_btn {
  width: 120px;
  font-weight: bold;
  background-color: #887f69;
  color: #fff;
  text-align: center;
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 40px; }
  .back_btn a, .next_btn a {
    color: #fff;
    text-decoration: none;
    font-size: 13px; }

.back_btn {
  float: left; }

.next_btn {
  float: right; }

.btn_area {
  content: '';
  display: block;
  clear: both; }

.clearfix::after {
  content: '';
  display: block;
  clear: both; }

@media (max-width: 550px) {
  .categorie_img {
    margin-top: 10px;
    margin-bottom: 5px; }
    .categorie_img img {
      width: 100%;
      height: auto; }

  .back_btn, .next_btn {
    margin-bottom: 17px; } }
.product {
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: #fff; }
  .product .product_contents {
    width: 80%;
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 20px; }
  .product .product_item .item_title {
    font-weight: bold;
    float: left;
    padding-top: 40px;
    padding-bottom: 15px; }
  .product .product_item .item_number {
    color: #bebebe;
    float: right;
    padding-top: 40px;
    padding-bottom: 15px;
    font-size: 12px; }
  .product .product_images {
    display: flex;
    margin-top: 10px;
    border-top: 1px solid #e3e8cf;
    border-bottom: 1px solid #e3e8cf;
    margin-bottom: 15px;
    clear: both; }
    .product .product_images .img_preview {
      width: 78%;
      margin-top: 20px;
      margin-bottom: 20px;
      cursor: pointer; }
    .product .product_images .images_list {
      width: 31.5%;
      margin-top: 20px;
      cursor: pointer; }
      .product .product_images .images_list #imglist {
        display: flex;
        flex-wrap: wrap; }
        .product .product_images .images_list #imglist li {
          width: 50%;
          list-style: none;
          margin-bottom: -3px; }
          .product .product_images .images_list #imglist li img {
            padding-left: 4px; }
  .product .color_size .product_heading {
    margin-bottom: 0; }
  .product .color_size table {
    color: #a09a89;
    width: 100%;
    font-size: 12px;
    text-align: center;
    border: 1px solid #e8e4da;
    margin-top: 15px; }
    .product .color_size table td {
      border: 1px solid #e8e4da;
      margin-top: 20px;
      text-align: center;
      vertical-align: middle;
      padding: 16px 17px 16px 17px; }
    .product .color_size table .table1 {
      text-align: center;
      background: #f9f9f5; }
  .product .color_size input[type="checkbox"] {
    display: none; }
  .product .color_size #checkbox1, .product .color_size #checkbox2 {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    margin-top: -5px;
    width: 20px;
    height: 20px; }
  .product .color_size #checkbox1 label {
    width: 104px; }
  .product .color_size #checkbox2 label {
    width: 103px; }
  .product .price {
    display: flex; }
    .product .price .product_heading2 {
      width: 60%;
      padding-top: 12px;
      padding-bottom: 12px;
      border-bottom: 1px solid #e3e8cf;
      border-top: 1px solid #e3e8cf; }
    .product .price .price1000 {
      color: #f4417b;
      font-size: 25px;
      font-style: italic;
      margin-left: 65px; }
    .product .price .tax {
      margin-left: 10px;
      color: #000;
      font-style: italic;
      font-weight: bold; }
    .product .price .cart_btn {
      width: 40%;
      margin-left: 25px; }
  .product .quantity .product_heading3 {
    padding-top: 25px;
    border-bottom: 1px solid #e3e8cf; }
  .product .quantity p {
    display: inline;
    margin-left: 50px; }
  .product .quantity input[type="number"] {
    width: 28%;
    border-radius: 0; }
  .product .description {
    padding-bottom: 40px; }
    .product .description h3, .product .description h4 {
      color: #999280;
      font-size: 16px;
      font-weight: bold; }
    .product .description h3 {
      color: #999280;
      font-size: 16px;
      font-weight: bold;
      padding-top: 35px;
      padding-bottom: 18px;
      margin-bottom: 0;
      border-bottom: 1px solid #887f69; }
    .product .description h4 {
      padding-top: 25px;
      padding-bottom: 25px;
      margin-bottom: 0; }
    .product .description p {
      font-size: 14px; }
    .product .description table {
      width: 100%;
      color: #a09a89;
      font-size: 12px;
      text-align: center;
      border: 1px solid #e8e4da; }
      .product .description table td {
        border: 1px solid #e8e4da; }
      .product .description table .table1 {
        text-align: center;
        background: #f9f9f5;
        width: 30%; }
      .product .description table .table2 {
        color: #999280; }
  @media (min-width: 550px) {
    .product .cart_btn_sp {
      display: none; } }

@media (max-width: 550px) {
  .product .product_contents {
    width: 95%; }

  .product .product_item .item_title {
    float: none;
    padding-top: 40px;
    padding-bottom: 0;
    font-size: 20px; }
  .product .product_item .item_number {
    float: none;
    padding: 0px;
    margin-bottom: 20px;
    font-size: 16px; }

  .product .product_images {
    display: block; }
    .product .product_images .img_preview {
      width: 100%;
      margin-bottom: 0;
      box-sizing: border-box; }

  .product .description {
    padding-bottom: 20px; }
    .product .description h3 {
      font-size: 25px; }
    .product .description h4 {
      font-size: 20px; }
    .product .description p {
      font-size: 16px; }
    .product .description table {
      font-size: 15px;
      margin-bottom: 10px; }

  .product .product_images .images_list {
    width: 100%;
    margin-top: 5px; }
    .product .product_images .images_list #imglist {
      margin-bottom: 10px; }
      .product .product_images .images_list #imglist li {
        width: 20%; }

  .product .color_size table {
    font-size: 15px; }

  .product .price .product_heading2 {
    width: 100%;
    padding-top: 15px; }
  .product .price .price1000 {
    font-size: 25px; }

  .product .quantity input[type="number"] {
    width: 50%; }

  .product .cart_btn_sp {
    text-align: center;
    margin-top: 20px; }

  .cart_btn {
    display: none; } }

/*# sourceMappingURL=style.css.map */
